<div class="admin-add-chapter-page flex flex-col items-center min-h-screen bg-gray-100 gap-4">
  <div class="container bg-white p-8 rounded-lg shadow-lg w-full max-w-4xl">
    <div class="header text-center mb-6">
      <h2 class="font-bold text-3xl text-gray-800">{{ newChapter.id == 0 ? 'Add ' : 'Update ' }}Chapter</h2>
    </div>

    <div class="chapter-group">
      <form [formGroup]="addForm" class="space-y-6">
        <div class="mb-4">
          <label for="name" class="block text-sm font-medium text-gray-700">Chapter Title</label>
          <input id="name" type="text" maxlength="255" [(ngModel)]="newChapter.name" formControlName="name"
                 class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 p-2" />
          <div *ngIf="addForm.get('name')!.invalid && (addForm.get('name')!.dirty || addForm.get('name')!.touched)"
               class="text-red-600 text-sm mt-1">
            <div *ngIf="addForm.get('name')!.errors?.['required']">Chapter title is required</div>
          </div>
        </div>

        <div class="mb-4">
          <label for="index" class="block text-sm font-medium text-gray-700">Chapter Number</label>
          <input id="index" type="number" min="0" maxlength="11" [(ngModel)]="newChapter.chapterIndex" formControlName="index"
                 class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 p-2" />
          <div *ngIf="addForm.get('index')!.invalid && (addForm.get('index')!.dirty || addForm.get('index')!.touched)"
               class="text-red-600 text-sm mt-1">
            <div *ngIf="addForm.get('index')!.errors?.['required']">Chapter number is required</div>
          </div>
        </div>
      </form>

      <div class="add-content-group my-4">

        <div class="contents"></div>

        <label class="add-images clickable" for="upload-images">
          <div class="flex justify-center items-center border-2 border-dashed border-gray-300 rounded-md h-48 my-6">
            <span class="placeholder block text-center text-gray-500">Add Image</span>
            <i class="uil uil-image-plus text-gray-500 text-2xl ml-2"></i>
          </div>
        </label>
        <input id="upload-images" type="file" accept="image/*" (change)="onImageSelected($event)" multiple hidden />
      </div>

    </div>

    <div class="chapter-list mt-8">
      <div class="header flex justify-between items-center border-b border-gray-300 pb-2 mb-4">
        <div class="text-lg font-medium text-gray-700">
          Chapter List
        </div>
      </div>

      <div class="contents"></div>
    </div>

    <div class=" flex justify-end space-x-4 mt-8">
      <button class="bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded" (click)="goBack()">Back</button>
      <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" (click)="postChapter()">
        {{ newChapter.id == 0 ? 'Add ' : 'Update ' }}
      </button>
    </div>
  </div>


</div>

<div class="spinner hidden fixed inset-0 flex items-center justify-center">
  <div class="loader border-t-4 border-blue-500 rounded-full w-16 h-16 animate-spin"></div>
</div>
