<div class="my-profile-page my-12">
    <div class="container mx-auto">
        <h2 class="text-center font-bold text-3xl my-4">Account Information</h2>
        <div class="my-profile">
            <div class="avatar-group text-center">
                <div class="">
                    <img [src]="user.getAvatar()" alt="" class="w-28 h-28 rounded-2xl">
                </div>

                <label for="upload-image" class="editor clickable">
                    <i class="uil uil-image-edit "></i>
                    <input id="upload-image" type="file" accept="image/*" (change)="onImageSelected($event)" hidden />
                </label>
            </div>

            <div class="profile-group">
                <div class="info">
                    <span>Username</span>
                    <div class="name-group">
                        <div class="view">
                            <span class="hightlight">{{user.name}}</span>
                            <i class="uil uil-edit-alt clickable" (click)="editName()"></i>
                        </div>
                        <div class="edit" hidden>
                            <input type=" text" placeholder="Nhập tên của bạn" [(ngModel)]="draftUserName">
                        </div>
                    </div>
                </div>
                <div class="info">
                    <span>Email</span>
                    <span class="hightlight">{{user.email}}</span>
                </div>
                <div class="info">
                    <span>Total Manga</span>
                    <span class="hightlight">{{comicCount}}</span>
                </div>
            </div>
        </div>
      <div class="flex space-x-4 mt-6 justify-center" *ngIf="isEdit || avatarImage">
        <button class="px-4 py-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400" (click)="cancelEdit()">Cancel</button>
        <button class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" (click)="updateUserInfo()">Save</button>
      </div>
    </div>
</div>
