<div class="admin-genres-page container mx-auto w-2/3">
    <div class="title">
        <h2 class="font-bold text-3xl my-4">Genre</h2>
    </div>

    <div class="details">
        <div class="list-genres">
            <div class="cardHeader">
                <h2>Genre List</h2>
                <a class="btn clickable" (click)="addGenre()">
                    <i class="uil uil-plus-circle"></i>
                    Add
                </a>
            </div>
            <table>
                <thead>
                    <tr>
                        <td>Genre Id</td>
                        <td>Genre Name</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let genre of listGenres | paginate: { itemsPerPage: 10, currentPage: pageIndex }">
                        <td>{{genre.id}}</td>
                        <td>{{genre.name}}</td>
                        <td>
                            <span class="edit clickable" (click)="editGenre(genre.id)">
                                <i class="uil uil-edit"></i>
                            </span>
                            <span class="remove clickable" (click)="removeGenre(genre.id)">
                                <i class=" uil uil-trash-alt"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <pagination-controls previousLabel="" nextLabel="" [autoHide]="true" [responsive]="true"
            (pageChange)="pageIndex = $event" class="paginator">
        </pagination-controls>
    </div>
</div>
