<header class=" text-white bg-gray-900">
  <div class="container mx-auto">
    <div class="flex flex-row  items-center justify-between p-3.5">
      <!-- Adding the logo image -->
      <div class="w-12 flex items-center space-x-2" [routerLink]="['']">
        <img src="assets/imgs/logo.png" alt="MangaNoob Logo" class="w-8 h-8 object-cover">
        <span class="text-xl font-bold">MangaNoob</span>
      </div>

      <!-- Search Bar -->
      <form class="flex items-center bg-white text-gray-800 px-2 py-2 rounded-md w-1/2" (submit)="onSearch()">
        <i class="uil uil-search text-gray-600"></i>
        <input type="search" placeholder="Find your manga" [(ngModel)]="searchStr"
               [ngModelOptions]="{standalone: true}"
               class="focus:outline-none  focus:ring-indigo-500 w-full ml-2">
      </form>

      <!-- Login and Register icons -->
      <div class="flex space-x-4" [hidden]="getCurrentUser()">
        <a class="text-white hover:text-gray-400" [routerLink]="['dang-nhap']" title="Login">
          <i class="uil uil-signin text-2xl"></i>
        </a>
        <a class="text-white hover:text-gray-400" [routerLink]="['dang-ky']" title="Register">
          <i class="uil uil-user-plus text-2xl"></i>
        </a>
      </div>

      <!-- User Info -->
      <div class="user-info clickable" [hidden]="!getCurrentUser()">
        <div class="avatar">
          <img [src]="getCurrentUser()?.getAvatar()" alt="User Avatar">
        </div>
        <span>{{getCurrentUser()?.name}}</span>
      </div>
    </div>

  </div>
</header>


<body>
    <router-outlet></router-outlet>
</body>


<div class="hover-panel">
  <a [routerLink]="['thong-tin-ca-nhan']"><i class="uil uil-user"></i>Thông tin cá nhân</a>
  <a [routerLink]="['truyen-cua-toi']" *ngIf="!isAdmin()"><i class="uil uil-book-alt"></i>Manga của bạn</a>
  <a [routerLink]="['quan-tri']" *ngIf="isAdmin()"><i class="uil uil-key-skeleton"></i>Quản trị</a>
  <a (click)="onLogout()"><i class="uil uil-signin"></i>Đăng xuất</a>
</div>

<footer>
  <div class="footer-container">
    <div class="footer-section logo-section">
      <h2 class="font-black">MangaNoob</h2>
      <p>Your go-to place for the latest manga and updates!</p>
    </div>
    <div class="footer-section">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Latest Manga</a></li>
        <li><a href="#">Popular Manga</a></li>
        <li><a href="#">Genres</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Genres</h4>
      <ul>
        <li><a href="#">Action</a></li>
        <li><a href="#">Adventure</a></li>
        <li><a href="#">Comedy</a></li>
        <li><a href="#">Romance</a></li>
        <li><a href="#">Fantasy</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Follow Us</h4>
      <div class="social-icons">
        <a href="#"><i class="uil uil-facebook"></i></a>
        <a href="#"><i class="uil uil-twitter"></i></a>
        <a href="#"><i class="uil uil-instagram"></i></a>
        <a href="#"><i class="uil uil-youtube"></i></a>
      </div>
    </div>
  </div>
  <div class="p-6 text-right font-bold">
    <p>&copy; 2024 MangaNoob. All rights reserved.</p>
  </div>
</footer>


