<header class=" text-white bg-gray-900">
  <div class="container mx-auto">
    <div class="flex flex-row  items-center p-6 ">
      <!-- Adding the logo image -->
      <div class="w-12 flex items-center flex-1 space-x-2 justify-center cursor-pointer" [routerLink]="['']">
        <img src="assets/imgs/logo.png" alt="MangaNoob Logo" class="w-10 h-10 object-cover">
        <span class="text-xl font-bold">MangaNoob</span>
      </div>

<!--        &lt;!&ndash; Dropdown for Authors &ndash;&gt;-->
<!--        <div class="relative group z-40">-->
<!--          <button class="text-white font-bold py-1 px-3 rounded inline-flex items-center">-->
<!--            <span>Authors</span>-->
<!--            <i class="uil uil-angle-down ml-2"></i>-->
<!--          </button>-->
<!--          <ul class="absolute hidden text-gray-800 pt-1 group-hover:block bg-white  rounded shadow-lg line-clamp-1 h-96 p-2">-->
<!--            <li *ngFor="let author of listAuthors" class="">-->
<!--              <a class="block px-4 py-2 hover:bg-gray-200 hover:text-black" (click)="searchByAuthor(author.id)">-->
<!--                {{ author.name }}-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->

      <!-- Search Bar -->
      <div class="flex items-center space-x-2 justify-center w-full">
        <!-- Dropdown for Genres -->
        <div class="relative group z-40 mr-2">
          <button class="text-white font-bold bg-blue-600 py-1 px-3 rounded inline-flex items-center bg-none">
            <span>Genres</span>
            <i class="uil uil-angle-down ml-2"></i>
          </button>
          <ul class="absolute hidden text-gray-800 pt-1 group-hover:block bg-white  rounded shadow-lg">
            <li *ngFor="let genre of listGenres" class="">
              <a class="block px-4 py-2 hover:bg-gray-200 hover:text-black" (click)="searchByGenre(genre.id)">
                {{ genre.name }}
              </a>
            </li>
          </ul>
        </div>

        <form class="flex items-center bg-white text-gray-800 px-2 py-2 rounded-md w-1/2" (submit)="onSearch()">
          <i class="uil uil-search text-gray-600"></i>
          <input type="search" placeholder="Find your manga" [(ngModel)]="searchStr"
                 [ngModelOptions]="{standalone: true}"
                 class="focus:outline-none  focus:ring-indigo-500 w-full ml-2">
        </form>
      </div>


      <!-- Login and Register icons -->
      <div class="flex space-x-4" [hidden]="getCurrentUser()">
        <a class="text-white hover:text-gray-400" [routerLink]="['login']" title="Login">
          <i class="uil uil-signin text-2xl"></i>
        </a>
        <a class="text-white hover:text-gray-400" [routerLink]="['register']" title="Register">
          <i class="uil uil-user-plus text-2xl"></i>
        </a>
      </div>

      <!-- User Info -->
      <div class="user-info clickable" [hidden]="!getCurrentUser()">
        <div class="flex flex-row items-center ">
          <img [src]="getCurrentUser()?.getAvatar()" alt="User Avatar" class="w-10 h-10 mr-2">
          <span>{{ getCurrentUser()?.name }}</span>
        </div>

      </div>
    </div>

  </div>
</header>


<body>
<router-outlet></router-outlet>
</body>


<div class="hover-panel">
  <a [routerLink]="['my-account']"><i class="uil uil-user"></i>My Account</a>
  <a [routerLink]="['my-manga']" *ngIf="!isAdmin()"><i class="uil uil-book-alt"></i>My Manga</a>
  <a [routerLink]="['manage']" *ngIf="isAdmin()"><i class="uil uil-key-skeleton"></i>Manage</a>
  <a (click)="onLogout()"><i class="uil uil-signin"></i>Logout</a>
</div>


<!--Footer-->
<footer>
  <div class="footer-container">
    <div class="footer-section logo-section">
      <h2 class="font-black">MangaNoob</h2>
      <p>Your go-to place for the latest manga and updates!</p>
    </div>
    <div class="footer-section">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Latest Manga</a></li>
        <li><a href="#">Popular Manga</a></li>
        <li><a href="#">Genres</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Genres</h4>
      <ul>
        <li><a href="#">Action</a></li>
        <li><a href="#">Adventure</a></li>
        <li><a href="#">Comedy</a></li>
        <li><a href="#">Romance</a></li>
        <li><a href="#">Fantasy</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Follow Us</h4>
      <div class="social-icons">
        <a href="#"><i class="uil uil-facebook"></i></a>
        <a href="#"><i class="uil uil-twitter"></i></a>
        <a href="#"><i class="uil uil-instagram"></i></a>
        <a href="#"><i class="uil uil-youtube"></i></a>
      </div>
    </div>
  </div>
  <div class="p-6 text-right font-bold">
    <p>&copy; 2024 MangaNoob. All rights reserved.</p>
  </div>
</footer>


