<div class="container mx-auto my-8">
  <div class="space-y-8">
    <div class="slider">
      <div class="flex flex-row items-center mb-4">
        <div
          class="flex items-center justify-center w-8 h-8 bg-gradient-to-r from-red-500 via-orange-400 to-yellow-500 mr-2 rounded">
          <i class="uil uil-star text-white text-2xl font-bold"></i>
        </div>
        <h2 class="text-xl font-bold">Staff Picks</h2>
      </div>

      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let comic of listRecommends">
          <app-slide-comic-item [comic]="comic"></app-slide-comic-item>
        </ng-template>
      </owl-carousel-o>
    </div>

    <!--Lastest Update-->
    <div class="">
      <div class="flex flex-row items-center mb-4">
        <div
          class="flex items-center justify-center w-8 h-8 bg-gradient-to-r from-red-500 via-orange-400 to-yellow-500 mr-2 rounded">
          <i class="uil uil-clock text-white text-2xl font-bold"></i>
        </div>
        <h2 class="text-xl font-bold">Latest Updates</h2>
      </div>
      <div class="grid grid-cols-6 gap-4">
        <app-main-comic-item
          *ngFor="let comic of listComics | paginate: { itemsPerPage: 12, currentPage: pageIndex }"
          [comic]="comic" class="col-span-1"></app-main-comic-item>
      </div>

      <div class="text-center w-full flex justify-center mt-2">
        <pagination-controls previousLabel="" nextLabel="" [autoHide]="true" [responsive]="true"
                             (pageChange)="pageIndex = $event">
        </pagination-controls>
      </div>
    </div>

    <!--History -->
    <div class="my-8">
      <div class="flex flex-row items-center">
        <div
          class="flex items-center justify-center w-8 h-8 bg-gradient-to-r from-red-500 via-orange-400 to-yellow-500 mr-2 rounded">
          <i class="uil uil-history text-white text-2xl font-bold"></i>
        </div>
        <h2 class="text-xl font-bold">History</h2>
      </div>
      <div class="col-span-1" *ngIf="listHistories.length > 0" class="grid grid-cols-6">
        <app-mini-comic-item *ngFor="let comic of listHistories; let i=index" [comic]="comic"
                             [index]="i" (onDelete)="deleteHistoryItem($event)"></app-mini-comic-item>
      </div>
    </div>


    <!--  Recently Added-->
    <div class="slider">
      <div class="flex flex-row items-center mb-4">
        <div
          class="flex items-center justify-center w-8 h-8 bg-gradient-to-r from-red-500 via-orange-400 to-yellow-500 mr-2 rounded">
          <i class="uil uil-star text-white text-2xl font-bold"></i>
        </div>
        <h2 class="text-xl font-bold">Recently Added</h2>
      </div>

      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let comic of listRecommends">
          <app-slide-comic-item [comic]="comic"></app-slide-comic-item>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
