body {
    margin-left: 15rem;
    transition: 0.5s;

    &.active {
        margin-left: 5rem;
    }
}

nav {
    position: relative;
    width: 100%;

    .navigation {
        position: fixed;
        width: 12rem;
        height: 100%;
        background-color: #171717;
        transition: 0.5s;
        overflow: hidden;

        &.active {
            width: 5rem;
        }

        .toggle {
            width: 3rem;
            height: 3rem;
            margin-top: 1rem;
            margin-left: 0.5rem;
            border-radius: 50%;
            overflow: hidden;
            color: var(--color-white);
        }

        ul {
            position: absolute;
            top: 5rem;
            left: 0;
            width: 100%;

            li {
                position: relative;
                list-style: none;
                border-top-left-radius: 3rem;
                border-bottom-left-radius: 3rem;
                white-space: nowrap;

                &:last-child {
                    margin-top: 5rem;
                }



                a {
                    width: 100%;
                    display: flex;
                    text-decoration: none;
                    color: var(--color-white);
                    align-items: center;
                    gap: 2rem;
                    height: 3rem;
                    line-height: 3rem;
                    padding: 0 1rem;

                    .icon {
                        i {
                            font-size: 1.75rem;
                        }
                    }
                }
            }
        }
    }
}


