<div class="admin-authors-page container mx-auto w-2/3">


    <div class="title">
        <h2 class="text-3xl font-bold my-6">Author</h2>
    </div>

    <div class="details">
        <div class="list-authors">
            <div class="cardHeader">
                <h2>Author List</h2>
                <a class="btn clickable" (click)="addAuthor()">
                    <i class="uil uil-plus-circle"></i>
                    Add new
                </a>
            </div>
            <table>
                <thead>
                    <tr>
                        <td>AuthorID</td>
                        <td>Name</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let author of listAuthors | paginate: { itemsPerPage: 10, currentPage: pageIndex }">
                        <td>{{author.id}}</td>
                        <td>{{author.name}}</td>
                        <td>
                            <span class="edit clickable" (click)="editAuthor(author.id)">
                                <i class="uil uil-edit"></i>
                            </span>
                            <span class="remove clickable" (click)="removeAuthor(author.id)">
                                <i class=" uil uil-trash-alt"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <pagination-controls previousLabel="" nextLabel="" [autoHide]="true" [responsive]="true"
            (pageChange)="pageIndex = $event" class="paginator">
        </pagination-controls>
    </div>
</div>
